[Desktop Entry]
Type=Application
Version=1.0
Name=Miryu App Launcher
Name[zh_CN]=Miryu 应用启动器
Name[zh_TW]=Miryu 應用程式啟動器
Name[ja]=Miryu アプリランチャー
Name[de]=Miryu Anwendungsstarter
Name[ko]=Miryu 앱 실행기
Name[fr]=Lanceur d'applications Miryu
GenericName=AppImage Launcher
GenericName[zh_CN]=AppImage 启动器
GenericName[zh_TW]=AppImage 啟動器
GenericName[ja]=AppImage ランチャー
GenericName[de]=AppImage-Startprogramm
GenericName[ko]=AppImage 실행기
GenericName[fr]=Lanceur AppImage
Comment=Integrate and launch AppImages
Comment[zh_CN]=集成并启动 AppImage
Comment[zh_TW]=整合並啟動 AppImage
Comment[ja]=AppImage を統合して起動する
Comment[de]=AppImages integrieren und starten
Comment[ko]=AppImage 통합 및 실행
Comment[fr]=Intégrer et lancer des AppImages
Icon=miryu-app-launcher
Exec=miryu-app-launcher %f
Terminal=false
NoDisplay=true
Categories=System;FileTools;
Keywords=appimage;launcher;integrate;
StartupNotify=true
X-KDE-TranslationDomain=miryu-app-launcher
MimeType=application/vnd.appimage;application/x-iso9660-appimage;application/x-appimage;